@media screen and (max-width:650px){
  .section_navbar{
    top:60px;
    background: none;
    width: 200px;
   /* z-index:2;*/
  }


  .button_main{
    display: none;
  }

  .button_main2{
      display: block;
      border-radius: 0px;
      left:0px;
      margin: 0px;
      position: absolute;
  }

  .navbar{
    margin-top: 42px;
    display: none;
    grid-template-columns: 200px;
      width: 200px;
    }

    
    .navbar1{
    display: grid;
    animation-name: despliegue_navbar;
    animation-duration: 1s;
    position: relative;
    z-index: 2;  
    grid-template-columns: 200px;
    width: 200px;
    margin-top: 42px;
    }
}
